[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pypdf2 = "*"
pandas = "*"
tabulate = "*"
tabula-py = "*"
pymupdf = "*"
regex = "*"

[dev-packages]

[requires]
python_version = "3.10"
